.board__content {
  padding: $padding-base-horizontal $padding-base-horizontal $padding-base-horizontal calc($sidebar-width + $padding-base-horizontal);
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(3, calc($sidebar-width - $padding-base-horizontal));
  grid-gap: $flex-row-gap $flex-column-gap;
  transition: padding $transition-time ease;
  overflow: auto;

  &.board__content--expanded {
    padding-left: $padding-base-horizontal;
  }

  &.board__content--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty__board {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;

    p {
      margin-bottom: $padding-sm-horizontal;
    }
  }
}