.board__content {
  margin-left: $sidebar-width;
  padding: $padding-base-horizontal;
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(4, minmax($grid-width, calc($sidebar-width - $padding-base-horizontal)));
  grid-gap: $grid-row-gap $grid-column-gap;
  transition: margin $transition-time ease;
  overflow: auto;

  &.board__content--expanded {
    margin-left: 0;
  }

  &.board__content--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty__board {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;

    p {
      margin-bottom: $padding-sm-horizontal;
    }
  }
}