.board__content {
  padding: $padding-base-horizontal;
  min-height: inherit;
  display: grid;
  grid-template-columns: repeat(4, $sidebar-width-sm - $padding-base-horizontal);
  grid-gap: $grid-row-gap $grid-column-gap;
  transition: margin $transition-time ease;
  overflow: auto;
  
  @media (min-width: $sm) {
    margin-left: $sidebar-width-sm;
  }
  
  @media (min-width: $md) {
    margin-left: $sidebar-width-default;
    grid-template-columns: repeat(4, $sidebar-width-default - $padding-base-horizontal);
  }

  &.board__content--expanded {
    margin-left: 0;
  }

  &.board__content--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty__board {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;

    p {
      margin-bottom: $padding-sm-horizontal;
    }
  }
}