.btn {
  @include body-md;

  border-radius: $btn-border-radius;
  border: none;
  color: $color-white;
  padding: 0 $btn-horizontal-padding;
  height: $btn-height;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &.btn--lg {
    @include header-md;

    height: $btn-lg-height;
  }

  &.btn--primary {
    background-color: $primary-m-purple;

    &:hover {
      background-color: $primary-l-purple;
    }

    &:disabled {
      background-color: lighten($primary-l-purple, 4%);
    }
  }

  &.btn--secondary {
    background-color: $secondary-l-purple;
    color: $primary-m-purple;

    &:hover {
      background-color: $secondary-m-purple;
    }
  }

  &.btn--danger {
    background-color: $danger-m-red;

    &:hover {
      background-color: $danger-l-red;
    }
  }

  &.btn--d-mode {
    &.btn--secondary {
      background-color: $color-white;
      
      &:hover {
        background-color: $color-white;
      }
    }
  }
}