.card {
  $padding-bottom: $card-vertical-padding + $card-priority-border;

  background-color: $color-white;
  padding: $card-vertical-padding $padding-sm-horizontal $padding-bottom $padding-sm-horizontal;
  margin-bottom: $padding-base-horizontal;
  border-radius: $border-radius-base;
  border: 1px solid #ddd;
  position: relative;
  box-shadow: 0rem .25rem .375rem rgba(54, 78, 126, .1);
  cursor: pointer;
  overflow: hidden;
  touch-action: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: $card-priority-border;
    width: 100%;
  }

  &--priority {
    &-low {
      &::after {
        background-color: $card-priority-low;
      }
    }

    &-normal {
      &::after {
        background-color: $card-priority-normal;
      }
    }

    &-high {
      &::after {
        background-color: $card-priority-high;
      }
    }
  }

  .card__header {
    @include header-md;

    margin-bottom: $padding-xs-horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card__summary {
    @include header-sm;

    color: $middle-gray;
  }

  &--d-mode {
    background-color: $color-black-30;
    border-color: #444;

    &.card--priority {
      &-high {
        &::after {
          background-color: $card-dark-priority-high;
        }
      }

      &-low {
        &::after {
          background-color: $card-dark-priority-low;
        }
      }
    }
  }
}