.cards__section {
  padding: 0 $padding-sm-horizontal;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  
  @media (min-width: $md) {
    padding: 0 $padding-lg-horizontal;
  }

  .cards__section-title {
    @include header-sm;

    margin-bottom: $padding-base-horizontal;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  .cards__section-status {
    border-radius: 50%;
    margin-right: .75rem;
    height: $cards-section-status-size;
    width: $cards-section-status-size;
    display: inline-block;

    &--to_do {
      background-color: #49C4E5;
    }

    &--in_progress {
      background-color: #8471F2;
    }

    &--in_review {
      background-color: #e267a4;
    }

    &--done {
      background-color: #67E2AE;
    }
  }

  &--dark {
    border-color: $color-black-50;
  }
}