.header {
  background-color: $color-white;
  height: 4.5rem;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 11rem 1fr;
  z-index: $z-index-important;
  
  @media (min-width: $xs) {
    height: $navbar-height;
    grid-template-columns: $sidebar-width-mobile 1fr;
  }

  @media (min-width: $sm) {
    grid-template-columns: $sidebar-width-tablet 1fr;
  }

  @media (min-width: $md) {
    grid-template-columns: $sidebar-width-desktop 1fr;
  }
  
  .header__logo,
  .header__informative {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    border-right: 1px solid $light-gray;
    padding-left: 0;
    justify-content: center;

    img {
      max-width: 8rem;
    }
    
    @media (min-width: $sm) {
      padding-left: $padding-horizontal;
      justify-content: normal;

      img {
        max-width: 100%;
      }
    }

    &.header__logo--hidden-sidebar {
      border-bottom: 1px solid $light-gray;
    }
  }

  .header__informative {
    border-bottom: 1px solid $light-gray;
    padding-right: $padding-horizontal;
    width: 100%;
    justify-content: space-between;

    .header__informative-title {
      @include header-lg;
      
      @media (min-width: $sm) {
        pointer-events: none;
      }
      
      @media (min-width: $md) {
        @include header-xl;
      }

      padding-left: $padding-base-horizontal;
    }

    .header__btn-group {
      position: relative;
      display: flex;
      align-items: center;

      .btn {
        $breakpoint: 656px;

        &--mobile {
          @media (min-width: $breakpoint) {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
        }

        &--desktop {
          display: none;
          opacity: 0;
          visibility: hidden;

          @media (min-width: $breakpoint) {
            display: block;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .header__btn--options {
        margin-left: $padding-base-horizontal;
        cursor: pointer;
      }
    }
  }

  &.header--d-mode {
    background-color: $color-black-30;

    .header__logo {
      border-color: $color-black-50;
    }

    .header__informative {
      border-color: $color-black-50;
    }
  }
}