.notification {
  background-color: $secondary-l-purple;
  color: $primary-m-purple;
  margin: $padding-xs-horizontal 0;
  padding: $padding-xs-horizontal 0;
  border-radius: $border-radius-xs;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $secondary-m-purple;
  }

  &.notification--d-mode {
    background-color: $color-white;
    color: $color-black-50;
  }
}