.spinner {
  width: $spinner-md-size;
  height: $spinner-md-size;
  border: $spinner-md-border-width solid $color-black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1000ms linear infinite;

  &--sm {
    width: $spinner-sm-size;
    height: $spinner-sm-size;
    border-width: $spinner-sm-border-width;
  }

  &--d-mode {
    border-color: $color-white;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 