.task__form {
  .task__form--go-back {
    color: $primary-l-purple;
    margin-bottom: $padding-xs-horizontal;
    display: block;
    cursor: pointer;
  }

  .task__form-group--subtasks {
    .text-field__control {
      margin-bottom: .75rem;
    }
  }
}