@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins/typography';

.btn {
  @include body-md;

  border-radius: $btn-border-radius;
  border: none;
  color: $color-white;
  padding: 0 $btn-horizontal-padding;
  height: $btn-height;
  cursor: pointer;

  &--primary {
    background-color: $primary-m-purple;

    &:hover {
      background-color: $primary-l-purple;
    }
  }

  &--secondary {
    background-color: $secondary-l-purple;
    color: $primary-m-purple;

    &:hover {
      background-color: $secondary-m-purple;
    }

    &.btn--d-mode {
      background-color: $color-white;

      &:hover {
        background-color: $color-white;
      }
    }
  }

  &--danger {
    background-color: $danger-m-red;

    &:hover {
      background-color: $danger-l-red;
    }
  }

  &--lg {
    @include header-md;

    height: $btn-lg-height;
  }
}