@import '../../styles/variables';

.board__content {
  padding: $padding-base-horizontal;
  display: flex;
  gap: $flex-row-gap $flex-column-gap;

  .cards__section,
  .empty__board {
    flex: 1 1 auto;
  }

  .empty__board {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}