@import '@/styles/colors';
@import '@/styles/variables';

.popup__body {
  background-color: $color-white;
  font-weight: 500;
  border-radius: $border-radius-base;
  min-width: $min-popup-width;
  max-width: $max-popup-width;
  z-index: $z-index-important;
  overflow: hidden;
  box-shadow: 0rem .625rem 1.25rem rgba(54, 78, 126, .25);

  .popup__item {
    padding: $padding-sm-horizontal;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--disabled {
      cursor: not-allowed;
    }

    &:not(.popup__item--disabled):hover {
      background-color: $lightest-gray;
    }

    &--important {
      border-bottom: 1px solid $light-gray;
    }

    &--danger {
      color: $danger-m-red;
    }
  }

  &.popup__body--d-mode {
    background-color: $color-black-25;

    .popup__item {
      &--important {
        border-color: $color-black-50;
      }

      &:not(.popup__item--danger) {
        color: $color-white;
      }

      &:not(.popup__item--disabled):hover {
        background-color: $color-black-30;
      }
    }
  }
}
