@import '../../styles/colors';
@import '../../styles/variables';

.popup__body {
  background-color: $color-white;
  font-weight: 500;
  border-radius: $border-radius-base;
  width: 10rem;
  z-index: $z-index-important;
  overflow: hidden;
  box-shadow: 0rem .625rem 1.25rem rgba(54, 78, 126, 0.25);

  &.popup__body--d-mode {
    background-color: $color-black-25;

    .popup__item {
      &:not(.popup__item--delete) {
        color: $color-white;
      }

      &:hover {
        background-color: $color-black-30;
      }
    }
  }

  .popup__item {
    padding: $padding-sm-horizontal;
    cursor: pointer;

    &:hover {
      background-color: $lightest-gray;
    }
  }

  .popup__item--delete {
    color: $danger-m-red;
  }
}