@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@import 'colors';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-size: .8125rem;
  line-height: 1.4375rem;
}

main.app {
  background-color: $lightest-gray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: $navbar-height 1fr;
}

main.app--dark {
  background-color: $color-black-25;
  color: $color-white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
