@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600&display=swap');

@import 'colors';
@import 'variables';
@import './mixins/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  @include body-md;

  font-weight: 600;
}

main.app {
  background-color: $lightest-gray;
  color: $middle-gray;

  *::-webkit-scrollbar {
    width: .5rem;
  }
  
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $color-black-50;
    border-radius: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-black;
  }

  .header {
    height: $navbar-height;
    display: grid;
    grid-template-columns: $sidebar-width 1fr;
  }

  .app__content-wrapper {
    min-height: calc(100vh - $navbar-height);
    display: flex;

    .sidebar {
      width: $sidebar-width;
      transition: width 100ms ease, transform 100ms ease;
  
      &.sidebar--hidden {
        width: 0;
        transform: scaleX(0);
      }
    }

    .board__content {
      flex: 1;
    }
  }

  .auth__form-wrapper {
    height: calc(100vh - $navbar-height);
    display: flex;
    align-items: center;

    .auth__form {
      background-color: $color-white;
      border-radius: $border-radius-base;
      padding: $auth-form-padding;
      margin: 0 auto;
      width: 100%;
      max-width: $auth-form-max-width;
    }

    .auth__form-title {
      margin-bottom: $padding-lg-horizontal;
      text-align: center;
    }

    .form-group {
      display: block;
      margin-bottom: $padding-base-horizontal;

      span {
        margin-bottom: $padding-xs-horizontal;
        display: block;
      }
    }

    .btn {
      width: 100%;
    }
  }
}

main.app--dark {
  background-color: $color-black-25;

  *::-webkit-scrollbar-thumb {
    background-color: $light-gray;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
