$primary-m-purple: rgb(99, 95, 199);
$primary-l-purple: rgb(168, 164, 255);

$secondary-l-purple: rgba(99, 95, 199, 0.1);
$secondary-m-purple: rgba(99, 95, 199, 0.25);

$color-black: rgb(0, 1, 18);
$color-black-25: rgb(32, 33, 44);
$color-black-30: rgb(43, 44, 55);
$color-black-50: rgb(62, 63, 78);

$middle-gray: rgb(130, 143, 163);
$middle-gray-25: rgba($middle-gray, .25);
$light-gray: rgb(228, 235, 250);
$lightest-gray: rgb(244, 247, 253);
$color-white: rgb(255, 255, 255);

$danger-m-red: rgb(234, 85, 85);
$danger-l-red: rgb(255, 152, 152);