// Globals
$border-radius-base: .5rem;
$border-radius-xs: .25rem;
$border-radius-sm: .375rem;
$border-radius-lg: .75rem;

$checkbox-tooltip-width: .5rem;

$padding-base-horizontal: 1.5rem;
$padding-xs-horizontal: .5rem;
$padding-sm-horizontal: 1rem;
$padding-lg-horizontal: 2rem;
$padding-xl-horizontal: 3rem;

$scrollbar-border: .375rem;
$scrollbar-width: 1.25rem;

$transition-time: 100ms;

$z-index-medium: 5;
$z-index-important: 10;

// Breakpoints
$xs: 481px;
$sm: 570px;
$md: 769px;

// Board content
$grid-column-gap: $padding-base-horizontal;
$grid-row-gap: 1.25rem;
$grid-width: 14rem;

// Buttons
$btn-border-radius: 1.25rem;
$btn-height: 2.5rem;
$btn-height-lg: 3rem;
$btn-horizontal-padding: 1.125rem;

// Card
$card-priority-border: .9rem;
$card-vertical-padding: 1.4375rem;

// Card modal
$card-modal-width: 30rem;

// Cards section
$cards-section-max-width: 17.5rem;
$cards-section-status-size: 1rem;

// Navbar
$navbar-height-sm: 4.5rem;
$navbar-height: 6rem;
$padding-horizontal: 2.125rem;

// Notification
$notifications-container-padding: 1.5rem;
$notifications-container-fixed-right: 1rem;
$notifications-container-fixed-bottom: 3rem;
$notifications-container-max-width: 23.5rem;

// Popup
$max-popup-width: 20rem;
$min-popup-width: 10.5rem;

// Sidebar
$sidebar-slider-height: 1.25rem;
$sidebar-slider-indicator-size: .875rem;
$sidebar-slider-margin-left: .1875rem;
$sidebar-slider-width: 2.5rem;
$sidebar-width-sm: 14.5rem;
$sidebar-width-default: 17.5rem;

// Spinner
$spinner-sm-size: 1.75rem;
$spinner-sm-border-width: .2rem;
$spinner-md-size: 2.25rem;
$spinner-md-border-width: .25rem;

// Pages
// Auth
$auth-form-max-width: 30rem;
$auth-form-padding: $padding-lg-horizontal;

// Not found
$grid-cell-height: 6rem;
