// Globals
$border-radius-xs: .25rem;
$border-radius-sm: .375rem;
$border-radius-base: .5rem;
$border-radius-lg: .75rem;

$padding-xs-horizontal: .5rem;
$padding-sm-horizontal: 1rem;
$padding-base-horizontal: 1.5rem;
$padding-lg-horizontal: 2rem;

$z-index-medium: 5;
$z-index-important: 10;

// Buttons
$btn-horizontal-padding: 1.125rem;
$btn-border-radius: 1.25rem;
$btn-height: 2.5rem;
$btn-lg-height: 3rem;

// Card
$card-vertical-padding: 1.4375rem;

// Card modal
$card-modal-overlay-color: rgba(0, 0, 0, 0.5);
$card-modal-width: 30rem;

// Navbar
$padding-horizontal: 2.125rem;
$navbar-height: 6.05rem;

// Sidebar
$sidebar-slider-margin-left: .1875rem;
$sidebar-slider-indicator-size: .875rem;
$sidebar-slider-height: 1.25rem;
$sidebar-slider-width: 2.5rem;
$sidebar-width: 18.75rem;

// Board content
$flex-row-gap: 1.25rem;
$flex-column-gap: $padding-base-horizontal;

// Cards section
$cards-section-max-width: 17.5rem;