@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins/typography';

.card {
  background-color: $color-white;
  padding: $card-vertical-padding $padding-sm-horizontal;
  margin-bottom: $padding-base-horizontal;
  border-radius: $border-radius-base;
  box-shadow: 0rem .25rem .375rem rgba(54, 78, 126, 0.1);
  cursor: pointer;

  .card__header {
    @include header-md;

    margin-bottom: $padding-xs-horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card__summary {
    @include header-sm;

    color: $middle-gray;
  }

  &.card--d-mode {
    background-color: $color-black-30;
  }
}