@import '@/styles/colors';
@import '@/styles/variables';
@import '@/styles/mixins/typography';

.header {
  background-color: $color-white;
  height: $navbar-height-sm;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: $z-index-important;

  @media (min-width: $xs) {
    height: $navbar-height;
  }

  .header__logo,
  .header__informative {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header__logo {
    border-right: 1px solid $light-gray;
    padding: 0 .75rem;
    justify-content: center;
    width: 50%;
    max-width: 8rem;
    flex: 1 0 auto;

    @media (min-width: $sm) {
      max-width: $sidebar-width-sm;
    }
    
    @media (min-width: $md) {
      max-width: $sidebar-width-default;
    }

    img {
      max-width: 100%;
    }

    @media (min-width: $sm) {
      padding: 0 0 0 $padding-horizontal;
      justify-content: normal;
    }

    &.header__logo--hidden-sidebar {
      border-bottom: 1px solid $light-gray;
    }
  }

  .header__informative {
    border-bottom: 1px solid $light-gray;
    padding-right: 1rem;
    width: 50%;
    justify-content: space-between;
    flex: 1;
    
    @media (min-width: $sm) {
      padding-right: $padding-horizontal;
    }

    .header__informative-title {
      @include header-lg;
      padding: 0 .75rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 30rem;

      @media (min-width: $sm) {
        pointer-events: none;
        padding-left: $padding-base-horizontal;
      }

      @media (min-width: $md) {
        @include header-xl;
      }
    }

    .header__btn-group {
      position: relative;
      display: flex;
      align-items: center;
      flex: 0 1 auto;

      .btn {
        $breakpoint: 656px;

        @media (min-width: $breakpoint) {
          display: flex;
          align-items: center;
        }

        &__title {
          display: none;

          @media (min-width: $breakpoint) {
            display: block;
            padding-left: .25rem;
          }
        }
      }

      .header__btn--options {
        margin-left: $padding-base-horizontal;
        cursor: pointer;
      }
    }
  }

  &.header--d-mode {
    background-color: $color-black-30;

    .header__logo {
      border-color: $color-black-50;
    }

    .header__informative {
      border-color: $color-black-50;
    }
  }
}
