@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/mixins/typography';

.header {
  background-color: $color-white;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  grid-column: 1 / -1;
  
  .header__logo,
  .header__informative {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    border-right: 1px solid $light-gray;
    padding-left: $padding-horizontal;

    &.header__logo--hidden-sidebar {
      border-bottom: 1px solid $light-gray;
    }
  }

  .header__informative {
    border-bottom: 1px solid $light-gray;
    padding-right: $padding-horizontal;
    width: 100%;
    justify-content: space-between;

    .header__informative-title {
      @include header-xl;

      padding-left: $padding-base-horizontal;
    }
  }

  &.header--d-mode {
    background-color: $color-black-30;

    .header__logo {
      border-color: $color-black-50;
    }

    .header__informative {
      border-color: $color-black-50;
    }
  }
}