@import '../../styles/variables';
@import '../../styles/mixins/typography';

.task__view {
  .task__view-title {
    @include header-lg;
  }

  .task__view-description {
    margin: $padding-base-horizontal 0;
  }

  .task__view-label {
    @include header-sm;
  }

  .task__view-subtasks {
    margin-bottom: $padding-base-horizontal;

    .task__view-label {
      margin-bottom: $padding-sm-horizontal;
    }
  }

  .task__view-status {
    .task__view-label {
      margin-bottom: $padding-xs-horizontal;
    }
  }
}