@import '@/styles/colors';

.droppable {
  height: 100%;

  &--enabled {
    background-color: darken($lightest-gray, 2%);
  }

  &--dark {
    &.droppable--enabled {
      background-color: lighten($color-black-25, 3%);
    }
  }
}
