@import '@/styles/colors';
@import '@/styles/variables';

.not__found {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .grid__nums-container {
    margin-bottom: $padding-base-horizontal;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: $grid-cell-height;
    row-gap: .5rem;

    .grid-num {
      font-size: $grid-cell-height;
      display: flex;
      align-items: center;

      &.highlighted {
        color: $danger-m-red;
      }
    }
  }
}
